body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
}
header {
  position: sticky;
  background-color: #ffc017;
  top: 0;
  z-index: 10;
  border-bottom: solid 1px;
}
nav {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 20px;
  width: 1100px;
  margin: auto;
}
.buttonNav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonNav a {
  color: black;
  text-decoration: none;
  margin-right: 1rem;
  font-size: 15px;
}
.buttonNav button {
  border-radius: 30px;
  width: 100px;
  height: 40px;
  color: white;
  background-color: black;
  border: none;
}
.section1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 30px;
  width: 550px;
  padding-inline: 50px;
}
h1 {
  font-family: "Spectral", serif;
  font-size: 80px;
  margin-block: 0px;
}
.divSection {
  background-color: #ffc017;
  border-bottom: solid 1px;
  position: relative;
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;

  position: relative;
  padding-block: 80px;
}
section button {
  border-radius: 30px;
  width: 150px;
  height: 40px;
  color: white;
  background-color: black;
  border: none;
  margin: 10px;
}
.divSvg {
  position: absolute;
  right: 0;
  top: 0;
}
.bigDiv {
  max-width: 1100px;
  margin-inline: auto;
  padding-bottom: 30px;
}
.div123 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
}
.div123 :nth-child(1) {
  border-radius: 20px;
}

.divNumName {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}
.divArt {
  display: flex;
  align-items: flex-start;
  width: 33.333%;
  gap: 10px;
  margin-bottom: 20px;
}
.line {
  background-color: rgba(0, 0, 0, 0.151);
  height: 1px;
  margin-top: 20px;
}
h4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.divNum {
  color: rgba(0, 0, 0, 0.329);
  font-size: 30px;
  font-weight: 900;
}
.divName {
  font-size: 13px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.904);
  display: flex;
  gap: 5px;
  align-items: center;
}
.divName img {
  border-radius: 20px;
}
.divDate {
  font-weight: 800;
  color: rgba(0, 0, 0, 0.904);
}
.divTime {
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.527);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.divLeft {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1800px;
}
.bigDiv2 {
  max-width: 1100px;
  margin-inline: auto;
  display: flex;
  margin-top: 50px;
}
.article {
  margin-block: 30px;
}
.divP p {
  margin: 5px;
  max-width: 450px;
}
.divTitle {
  font-weight: 700;
  font-size: 25px;
  max-width: 450px;
}
.divP {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.541);
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
}
.imgArt {
  width: 170px;
  height: 120px;
}

.article {
  display: flex;

  width: 600px;
}

.divTime span {
  background-color: rgba(0, 0, 0, 0.055);
  padding: 5px;
  border-radius: 10px;
}
.divRight {
  margin-inline: 35px;
  top: 130px;
  z-index: 9;
  position: sticky;
}

.divRight p {
  font-weight: 700;
}

.divRight div {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: row;
}
.divAncore a {
  border: solid 1px;
  border-color: rgba(0, 0, 0, 0.062);
  text-decoration: none;
  color: rgba(0, 0, 0, 0.541);
  font-size: 14px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.divAncore2 a {
  display: flex;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.541);
  font-size: 14px;
  margin: 10px;
}
